<div class="main-container">
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <header-component></header-component>
        </div>
      </div>
    </div>
  </header>
  <main class="container body-entry">
    <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
  <footer class="footer fixed-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <footer-component></footer-component>
        </div>
      </div>
    </div>
  </footer>
</div>


